*{
 	margin:0;
 	padding:0;
 	box-sizing: border-box;
}

.html,body{
	height: 100%;
	background-color: #ccc;
}

.box{
	width: 100%;
	height: 700px;
	/*background-image: radial-gradient(red , yellow , green );*/
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(252, 62, 62));
	/*background: linear-gradient(to right, green ,red);*/
	/*background: linear-gradient(36deg, purple , yellow);*/
	/*background-image: repeating-linear-gradient(red, yellow 10%, green 20%);*/
}