*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    background: brown;
    display: flex;
    justify-content: center;
}

main div{
    min-width: 100px;
    height: 100px;
    background: whitesmoke;
    border: 1px solid black;
}

main div:not(:nth-child(5)){
    margin-right: 100px;
    background: chartreuse;
}

main div:nth-child(3){
    margin-top: 100px;
}

main div:nth-child(1){
    margin-top: 100px;
}

main div:nth-child(5){
    margin-top: 100px;
}